HOST=localhost
APP_URL=http://localhost
APP_PORT=3000
APP_API_URL=http://localhost:4000/api
APP_GITHUB_LOGIN=http://localhost:4000/api/oauth/github
APP_GOOGLE_LOGIN=http://localhost:4000/api/oauth/google

API_PORT=3001
NGINX_PORT=4000
ADMIN_PORT=5000

# DATABASE DETAILS #
DB_NAME=dbname
DB_HOST=database-container
DB_PORT=5432
DB_USER=dbuser
DB_PASSWORD=dbpassword

MAIL_ACTIVE="false"
MAIL_FROM="hi@your.email"
MAIL_HOST="api.mail.service"
MAIL_DOMAIN="mail.yourwebsite.co.uk"
MAIL_API="key-for-your-mail-service-here"

# OAUTH - GITHUB
GITHUB_KEY=long-github-key
GITHUB_SECRET=long-github-secret
#https://github.com/settings/applications/number

# OAUTH - GOOGLE
GOOGLE_KEY=superLongKeyID.apps.googleusercontent.com
GOOGLE_SECRET=superLongSecretID-K0H
#https://console.cloud.google.com/apis/credentials/consent?project=your-app-name

# GOOGLE API CAL KEY
GOOGLE_CAL_KEY=xxxx
