$primary: #9dd0dd;
$secondary: #9be5e8;
$accent: #45c0d8;
$neutral: #252c3c;
$base-10: #f3f4f6;
$info: #9db2e1;
$success: #22b472;
$warning: #f8b21b;
$error: #f0383b;

$text-color: hsl(var(--bc) / var(--tw-text-opacity, 1));

h1 {
  font-size: 4rem;
  line-height: 3rem;
}
h2 {
  font-size: 3.5rem;
  line-height: 2.6rem;
}
h3 {
  font-size: 2.5rem;
}
h4 {
  font-size: 2rem;
}

html,
body {
  background-color: $success !important;
}

@media (min-width: 425px) {
  .place__list .place__item {
    width: 49%;
  }
}

@media (min-width: 675px) {
  .place__list .place__item {
    width: 32.5%;
  }
}

.progress {
  transition: 1s;
  height: 1rem;
  width: 100%;
  position: relative;
}
