$blush: hsl(333, 100%, 96%);
$blue: hsl(208, 23%, 47%);

$text-color: hsl(333, 100%, 99%);
$bg-color: $blue;

@import url("https://fonts.googleapis.com/css2?family=Allura&family=Cormorant+Garamond:wght@300&display=swap");

@font-face {
  font-family: "Olivia";
  font-weight: 300;
  src: url("assets//fonts/OliviaDemo.ttf") format("truetype");
}

:root {
  --b1: $bg-color;
  background-color: $bg-color;
  text-align: center;

  // font-family: "Cormorant Garamond", serif;
}

// $primary: #9dd0dd;
// $secondary: #9be5e8;
// $accent: #45c0d8;
// $neutral: #252c3c;
// $base-10: #f3f4f6;
// $info: #9db2e1;
// $success: #22b472;
// $warning: #f8b21b;
// $error: #f0383b;

$text-max-size: 6rem;

.wedding-font {
  // font tbd
  font-family: "Allura", cursive;
}

.wedding-font-alt {
  // font tbd
  font-family: "Cormorant Garamond", serif;
}
.wedding-font-olivia {
  // font tbd
  font-family: "Olivia", serif;
}

.wedding-heading {
  $wedding-spacing: 2rem;

  max-width: 66vw;
  margin-top: 3rem;

  &__preheading,
  &__heading,
  &__date {
    margin: 1rem;
  }

  &__preheading,
  &__date {
    font-weight: 200;
    @extend .wedding-font-alt;
  }

  &__preheading {
  }

  &__heading {
    margin: $wedding-spacing 0;
    $size: 8.5rem;
    line-height: $size * 1.05;
    font-size: $size;
    @extend .wedding-font;
  }

  &__date {
  }

  &__subheading {
    margin-top: 5rem;
  }
}

h1 {
  $size: 0.95;
  font-size: calc($text-max-size * $size);
  line-height: calc($text-max-size * ($size * 1.05));
}
h2 {
  $size: 0.75;
  font-size: calc($text-max-size * $size);
  line-height: calc($text-max-size * ($size * 1.05));
}
h3 {
  $size: 0.575;
  font-size: calc($text-max-size * $size);
  line-height: calc($text-max-size * ($size * 1.05));
}
h4 {
  $size: 0.46;
  font-size: calc($text-max-size * $size);
  line-height: calc($text-max-size * ($size * 1.05));
}
h5 {
  $size: 0.4;
  font-size: calc($text-max-size * $size);
  line-height: calc($text-max-size * ($size * 1.05));
}
h6 {
  $size: 0.3;
  font-size: calc($text-max-size * $size);
  line-height: calc($text-max-size * ($size * 1.05));
}
p,
li {
  $size: 0.23;
  font-size: calc($text-max-size * $size);
  line-height: calc($text-max-size * ($size * 1.05));
}

html,
body {
  color: $text-color;
  // background-color: $bg-color;
}

.info {
  max-width: 80vw;
  margin: 0 auto;
  margin-bottom: 3rem;

  h4,
  h5 {
    font-weight: 300;
    @extend .wedding-font-alt;
  }

  p,
  em,
  strong {
    margin-top: 0.66rem;
  }
}

// @media (min-width: 425px) {
//   .place__list .place__item {
//     width: 49%;
//   }
// }

// @media (min-width: 675px) {
//   .place__list .place__item {
//     width: 32.5%;
//   }
// }

// .progress {
//   transition: 1s;
//   height: 1rem;
//   width: 100%;
//   position: relative;
// }
