$blush: #e5c8ca;
$blue: #1d384e;

$text-color: hsl(333, 100%, 95%);
$bg-color: $blue;

$section-pad: 3rem;
$text-max-size: 6rem;
$mobile-size: 525px;
$padding-decoration: 0.75rem;

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;500&display=swap");

@font-face {
  font-family: "Olivia";
  font-weight: 300;
  src: url("assets//fonts/OliviaDemo.ttf") format("truetype");
}

:root {
  background-color: $bg-color;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
}

@for $i from 1 through 9 {
  .image-0#{$i} {
    background:
      linear-gradient(transparent, $blue 100%),
      url(~/assets/images/wide-0#{$i}.jpg) center center;
  }
}

.hero-image {
  height: 70vh;
  width: 100%;
  background-position: center center;
  background-size: cover;
  background-repeat: space;

  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.rsvp {
  background-color: $blush;
}

.bottom-nav {
  margin-top: 5rem;
}

input {
  margin-bottom: 1rem;
  color: $blue;
  font-weight: 400;
}

.form-control {
  max-width: 40rem;
  margin: 0 auto;

  label {
    margin-bottom: 0.5rem;

    input {
      margin: 0;
    }
  }
}

a {
  margin-bottom: 1rem;
  text-underline-offset: $padding-decoration * 0.66;
  text-decoration: 1px solid underline;
  transition: 0.1s all ease-in-out;

  &:hover {
    text-underline-offset: $padding-decoration * 0.5;
    text-decoration: 3px solid underline;
  }
}

.container {
  margin: 0 auto;
  max-width: 35rem;
}

.form-control {
  margin-top: 1rem;

  .section {
    margin-bottom: 2rem;

    .tooltip {
      width: 100%;
    }
  }
}

// $primary: #9dd0dd;
// $secondary: #9be5e8;
// $accent: #45c0d8;
// $neutral: #252c3c;
// $base-10: #f3f4f6;
// $info: #9db2e1;
// $success: #22b472;
// $warning: #f8b21b;
// $error: #f0383b;

.sans {
  font-family: "Montserrat", sans-serif;
}

.serif {
  font-family: "Olivia", serif;
}

.lg {
  display: none;
}

.mb {
  display: block;
}

body {
  padding: 0.5rem;

  @media (min-width: $mobile-size) {
    body {
      padding: 1rem;
    }
  }
}

@media (min-width: $mobile-size) {
  .lg {
    display: block;
  }

  .mb {
    display: none;
  }
}

.wedding-hero {
  margin: 0 auto;
  margin-bottom: $section-pad * 1;

  &__heading {
    $size: 95vw;
    overflow: hidden;

    .transform {
      position: relative;
      top: -6vw;
    }

    h1 {
      line-height: $size * 0.35;
      font-size: $size * 0.6;
      @extend .serif;
    }

    .sans {
      position: relative;
      top: 0.6rem;
      font-size: 1rem;
    }
  }

  @media (min-width: $mobile-size) {
    max-width: 35rem;

    .transform {
      position: relative;
      top: -2rem;
    }

    .wedding-hero__heading h1 {
      $size: 20rem;
      line-height: $size * 0.6;
      font-size: $size;
    }
  }
}

.wedding-strapline {
  margin: 0 auto;
  margin-bottom: $section-pad;
}

.row {
  display: flex;
  flex-direction: row;
}

.col {
  flex-grow: 1;
}

.wedding-date {
  margin: 0 auto;
  max-width: 30rem;
  margin-bottom: $section-pad;

  .row {
    align-items: center;
  }

  .col {
    margin: 0;
    width: 33%;
    min-width: 33%;
  }

  .side {
    width: 33%;
    min-width: 33%;
  }

  .day,
  .time {
    border-top: solid 1px $text-color;
    border-bottom: solid 1px $text-color;
    padding: $padding-decoration 0;
  }

  .date {
    font-weight: 600;
    font-size: 2rem;
    padding: $padding-decoration 0;
    font-family: "Times New Roman", Times, serif;
  }
}

.wedding-location {
  margin: 0 auto;
  max-width: 30rem;
  margin-bottom: $section-pad;

  .link {
    display: inline-block;
  }
}

h1 {
  $size: 0.95;
  font-size: calc($text-max-size * $size);
  line-height: calc($text-max-size * ($size * 1.05));
}
h2 {
  $size: 0.75;
  font-size: calc($text-max-size * $size);
  line-height: calc($text-max-size * ($size * 1.05));
}
h3 {
  $size: 0.575;
  font-size: calc($text-max-size * $size);
  line-height: calc($text-max-size * ($size * 1.05));
}
h4 {
  $size: 0.46;
  font-size: calc($text-max-size * $size);
  line-height: calc($text-max-size * ($size * 1.05));
}
h5 {
  $size: 0.4;
  font-size: calc($text-max-size * $size);
  line-height: calc($text-max-size * ($size * 1.05));
}
h6 {
  $size: 0.3;
  font-size: calc($text-max-size * $size);
  line-height: calc($text-max-size * ($size * 1.05));
}
a,
p,
li,
span,
label {
  $size: 0.23;
  font-size: calc($text-max-size * $size);
  line-height: calc($text-max-size * ($size * 1.05));
}

html,
body {
  color: $text-color;
}
